.cls-1 {
    clip-path: url(#clip-Web_1920_1);
  }

  .cls-2, .cls-3 {
    font-size: 152px;
    font-family: RocksPersonalUse, Rocks Personal Use;
  }

  .cls-3, .cls-6, .cls-8 {
    fill: #fff;
  }

  .cls-4, .cls-5 {
    fill: #393939;
  }

  .cls-4, .cls-7 {
    stroke: #707070;
    stroke-linecap: round;
  }

  .cls-10, .cls-7 {
    fill: none;
  }

  .cls-8 {
    font-size: 70px;
    font-family: RocksDeath, Rocks Death;
  }

  .cls-9 {
    stroke: none;
  }

  .cls-11 {
    filter: url(#Click_Aqui);
  }

  .cls-12 {
    filter: url(#Retângulo_1-2);
  }

  .cls-13 {
    filter: url(#Retângulo_1);
  }

  .cls-14 {
    filter: url(#Bem_Vindo_a_Tropa_do_Metal-2);
  }

  .cls-15 {
    filter: url(#Bem_Vindo_a_Tropa_do_Metal);
  }